*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}

body{
    background-color: rgb(243, 222, 195);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    margin-bottom: 100px;
}



.navbar{
    background-color: rgb(219, 187, 123);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.logo{
    position: relative;
    width: 100px;
    margin: 30px 0 ;
    padding-left: 12%;
}

.title_navbar{
    width: 2000px;
    cursor: pointer;
    margin: 30px 0 ;
    padding-left: 60%;
}

.title{
    width: 45rem;
    background-color: rgb(114, 33, 44);
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.regform{
    width: 800px;
    background-color: #898985;
    margin: auto;
    color: #FFFFFF;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.main{
    background-color:#b6b6b4;
    width: 800px;
    margin: auto;
    height: 1100px;
    border-radius: 0px 0px 15px 15px;
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.032),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.05),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.062),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.07),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.073),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

form{
    padding: 10px;
}

#name{
    width: 100%;
    height: 100px;
}

.name{
    margin-left: 45px;
    margin-top: 30px;
    width: 125px;
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.firstname{
    position: relative;
    left: 200px;
    top: -33px;
    line-height:40px;
    border-radius: 1rem;
    padding: 0 22px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    color: black;
    box-shadow: 0 .5rem #dfd9d9;
    cursor: pointer;
}

.lastname{
    position: relative;
    left: 215px;
    top: -33px;
    line-height: 40px;
    border-radius: 1rem;
    padding: 0 22px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    color: black;
    box-shadow: 0 .5rem #dfd9d9;
    cursor: pointer;
}

.number{
    position: relative;
    left: 200px;
    top: -33px;
    line-height:40px;
    width: 100px;
    border-radius: 1rem;
    padding: 0 22px;
    font-size: 16px;
    text-align: center;
    background-color: #eee;
    border: none;
    color: black;
    box-shadow: 0 .5rem #dfd9d9;
    cursor: pointer;
}

.dateofbirth{
    position: relative;
    left: 200px;
    top: -37px;
    line-height:40px;
    width: 332px;
    border-radius: 1rem;
    padding: 0 22px;
    font-size: 16px;
    text-align: center;
    background-color: #eee;
    border: none;
    color: black;
    box-shadow: 0 .5rem #dfd9d9;
    cursor: pointer;
}

.gender{
    position: relative;
    left: 200px;
    top: -30px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.genderlabel{
    position: relative;
    left: 200px;
    top: -35px;
    line-height:40px;
    border-radius: 1rem;
    padding: 0 22px;
    font-size: 20px;
    color: #FFFFFF;
    font-family: sans-serif;
}

.contact{
    position: relative;
    left: 200px;
    top: -50px;
    line-height:40px;
    border-radius: 1rem;
    padding: 0 22px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    color: black;
    box-shadow: 0 .5rem #dfd9d9;
    cursor: pointer;
}

.email{
    position: relative;
    left: 200px;
    top: -40px;
    line-height:40px;
    width: 430px;
    border-radius: 1rem;
    padding: 0 22px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    color: black;
    box-shadow: 0 .5rem #dfd9d9;
    cursor: pointer;
}

.file{
    position: relative;
    left: 200px;
    top: -35px;
    line-height:35px;
    outline:none;
    border-radius: 1rem;
    padding: 0 22px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    color: black;
    box-shadow: 0 .3rem #dfd9d9;
    cursor: pointer;
}

::-webkit-file-upload-button{
    color:white;
    background:#313332;
    padding:8px;
    border:none;
    border-radius: 1rem;
    box-shadow: 1px 0px 1px rgb(101, 102, 102);
}

.username{
    position: relative;
    left: 200px;
    top: -40px;
    line-height:40px;
    border-radius: 1rem;
    padding: 0 22px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    color: black;
    box-shadow: 0 .5rem #dfd9d9;
    cursor: pointer;
}

.password{
    position: relative;
    left: 200px;
    top: -40px;
    line-height:40px;
    border-radius: 1rem;
    padding: 0 22px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    color: black;
    box-shadow: 0 .5rem #dfd9d9;
    cursor: pointer;
}

.confirm_pass{
    position: relative;
    left: 200px;
    top: -55px;
    line-height:40px;
    border-radius: 1rem;
    padding: 0 22px;
    font-size: 16px;
    background-color: #eee;
    border: none;
    color: black;
    box-shadow: 0 .5rem #dfd9d9;
    cursor: pointer;
}

    .button {
    position: relative;
    left: 275px;
    top: 850px;
    line-height:50px;
    width: 250px;
    background-color: rgb(64, 66, 66);
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 0 22px;
    font-size: 16px;
    box-shadow: 0px 6px 0px #787878;
    transition: all 50ms;
    color: #ecf0f1;
    cursor: pointer;
    text-decoration: none;
       }

       button:active {
        color: white;
        box-shadow: 0 0.2rem #dfd9d9;
        transform: translateY(0.2rem);
       }
       
       button:hover:not(:disabled) {
        background: #5c6da3;
        color: white;
       }
       
       button:disabled {
        cursor: auto;
        color: grey;
       }